src/main/mule/munits-int.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8400aa8c-971e-490e-9d51-deeba83df69c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="23f12b63-18f1-432e-ba6a-6aa92c6be429" >
		<http:request-connection host="0.0.0.0" port="8081"/>
	</http:request-config>
	<flow name="munits-intFlow" doc:id="1dc0b566-eed6-4199-b6dc-bd31ecadf20c" >
		<http:listener doc:name="Listener" doc:id="5f829bfe-e441-4ed8-a75b-f23f696da5ec" config-ref="HTTP_Listener_config" path="/unit"/>
		<logger level="INFO" doc:name="Logger" doc:id="ffbc5814-c8bc-4b81-8339-3ea6e0bbd1c4" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="2a8062c7-7b61-4716-8b5b-cdb576aaba09" config-ref="HTTP_Request_configuration" path="/munit"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7b06af6-45e3-4d77-b4b0-b7b39790fcb4" message="#[payload]"/>
	</flow>
</mule>
